/*
  Newsletter container styling
*/
.newsletter {
  padding: 4.5vw 5vw;
  background: transparent;

  @include screen-mobile {
    height: 335px;
    margin: 50vw 5vw;
    letter-spacing: 0.1vw;
    background: $white;
  }
}
