@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?jyqrgc');
  src:  url('/fonts/icomoon.eot?jyqrgc#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?jyqrgc') format('truetype'),
    url('/fonts/icomoon.woff?jyqrgc') format('woff'),
    url('/fonts/icomoon.svg?jyqrgc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_success .path1:before {
  content: "\e906";
  color: rgb(64, 102, 165);
}
.icon-ic_success .path2:before {
  content: "\e907";
  margin-left: -0.62890625em;
  color: rgb(64, 102, 165);
}
.icon-ic_success .path3:before {
  content: "\e908";
  margin-left: -0.62890625em;
  color: rgb(64, 102, 165);
  opacity: 0.3;
}
.icon-ic_success .path4:before {
  content: "\e909";
  margin-left: -0.62890625em;
  color: rgb(64, 102, 165);
  opacity: 0.3;
}
.icon-ic_success .path5:before {
  content: "\e90a";
  margin-left: -0.62890625em;
  color: rgb(64, 102, 165);
  opacity: 0.3;
}
.icon-ic_success .path6:before {
  content: "\e90b";
  margin-left: -0.62890625em;
  color: rgb(64, 102, 165);
  opacity: 0.3;
}
.icon-ic_success .path7:before {
  content: "\e90c";
  margin-left: -0.62890625em;
  color: rgb(64, 102, 165);
  opacity: 0.3;
}
.icon-ic_arrow:before {
  content: "\e901";
}
.icon-ic-youtube:before {
  content: "\e902";
}
.icon-ic_twitter:before {
  content: "\e903";
}
.icon-ic-instagram:before {
  content: "\e904";
}
.icon-ic-pineapple:before {
  content: "\e905";
  color: #4066a5;
}
.icon-ic_facebook:before {
  content: "\e900";
}
