/*
  Variables
*/
$white: #FFFFFF;
$black: #000000;
$gray-1: #6A707B;
$gray-2: #E3E3E4;
$blue-1: #4066A5;
$blue-2: #4267B2;
$blue-3: #2F4A80;
$purple-1: #C13584;
$purple-2: #8F2762;
$light-blue-1: #1DA1F2;
$light-blue-2: #177FBF;
$red-1: #FF0000;
$red-2: #CC0000;

$screen-mobile: 375px;
